DATABASE_URL="mysql://root:@localhost:3306/caraoke"

API_HOST=0.0.0.0
API_PORT=3333
WEB_DEV_PORT=5173

STORAGE_DIR=./storage

WORKER_TOKEN=change-me-to-a-long-random-text
API_URL=http://127.0.0.1:3333
YTDLP_PATH=./worker/.venv/Scripts/yt-dlp.exe
PYTHON_PATH=./worker/.venv/Scripts/python.exe

LRCLIB_USER_AGENT="caraoke-michael/0.1 (personal use)"
